#!/bin/bash
while read oldrev newrev refname
do
    branch=$(git rev-parse --symbolic --abbrev-ref $refname)
    if [ "master" == "$branch" ]; then
        # Run the build server utils script
        ~/godot-build-server-utils/run-tests.sh
    fi
done
